 .button {
	 font-family: $font-family;
	 font-weight: 100;
	 font-size: 1.25rem;
	 box-shadow: 0px 1px 3px -1px #aaa;
	 width: 95%;
	 padding: 12px 10px;
	 border-top: 1px solid #eee;
	 border-radius: 3px;
	 &.button-normal {
		 	color: $color;
		 	background: #ede5d5;
			background-image: -webkit-linear-gradient(top, #ede5d5, #ddd3bf);
			background-image: -moz-linear-gradient(top, #ede5d5, #ddd3bf);
			background-image: -ms-linear-gradient(top, #ede5d5, #ddd3bf);
			background-image: -o-linear-gradient(top, #ede5d5, #ddd3bf);
			background-image: linear-gradient(to bottom, #ede5d5, #ddd3bf);
	 }
	 &.button-action {
		 	color: #fff;
		 	background: #88cc7d;
			background-image: -webkit-linear-gradient(top, #88cc7d, #62af56);
			background-image: -moz-linear-gradient(top, #88cc7d, #62af56);
			background-image: -ms-linear-gradient(top, #88cc7d, #62af56);
			background-image: -o-linear-gradient(top, #88cc7d, #62af56);
			background-image: linear-gradient(to bottom, #88cc7d, #62af56);
	 }
	 &.button-extra-small {
		 width: auto;
		 font-size: 0.75rem;
		 i {
			 font-size: 0.875rem;
			 margin-right: 0.25rem;
		 }
	 }
 }
