.mb--1rem { margin-bottom: 1rem; }
.mb--2rem { margin-bottom: 2rem; }

.pt--2rem { padding-top: 2rem; }
.pt--3rem { padding-top: 3rem; }
.pt--4rem { padding-top: 4rem; }
.pt--5rem { padding-top: 5rem; }

.pb--2rem { padding-bottom: 2rem; }
.pb--3rem { padding-bottom: 3rem; }
.pb--4rem { padding-bottom: 4rem; }
.pb--5rem { padding-bottom: 5rem; }

.full {
	.row {
		padding: 0 !important;
		.column {
			padding: 0 !important;
		}
	}
}

.d--inline-block { display: inline-block; }
.d--none { display: none; }
.d--none-i { display: none !important; }
