.ui.modal {
	.header {
		background: #f3eee6;
		color: $color;
		border-bottom: 1px solid #FFFFFF;
	}

	.content {
		background: #f5f1eb;
	}

	.actions {
		background: #f3eee6;
		border-top: 1px solid #ffffff;
	}
}
