.site-nav {
	.row {
		background: #ded8cd;
		padding: 1rem 0;
	}

	.item {
		font-size: 0.875rem;
		text-align: left;
		.p {
			color: $color-brown;
			font-weight: 600;
		}
		.c {
			color: $color-brown;
		}
	}
}
