body { font-family: $font-family; font-size: 16px; letter-spacing: -0.025em; color: $color; }

h1, h2, h3, h4, h5, h6 { font-family: $font-family; font-weight: 100; color: $color; }

.ta--left { text-align: left; }
.ta--center { text-align: center; }
.ta--right { text-align: right; }

.fa--300 { font-weight: 300; }
.fa--500 { font-weight: 500; }

.fs--1rem { font-size: 1rem; }
.fs--2rem { font-size: 2rem; }
.fs--3rem { font-size: 3rem; }

.ls--0rem { letter-spacing: 0rem; }

.c--gold { color: #af914f; }
