<header class="site-nav">
	<div class="ui container grid mtb--0-i">
			<a ng-repeat="item in menuItems" class="column two wide" href="#{{ item.content.url }}">
				<div class="item">
					<div class="p">
						{{ item.content.p }}
					</div>
					<div class="c">
						{{ item.content.c }}
					</div>
				</div>
			</a>
			<a class="column two wide">
				<div class="item ta--center">
					<p class="p">
						Call Us @
					</p>
					<p class="c">
						1800 123 123

					</p>
				</div>
			</a>
	</div>
</header>
